@model IEnumerable<IT_F18.Models.GalleryViewModel>

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model)
{
    <a href="~/images/uploads/@item.ImagePath" data-lightbox="image-1" data-title="Use arrow keys left and right to navigate images.">
        <img class="thumbnail" src="~/images/uploads/@item.ImagePath" />
    </a>
}