@model IEnumerable<IT_F18.Models.AdminViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<!-- About Actions -->
<table style="float: left;">
    <tr>
        <td>
            About
        </td>
    </tr>

    <tr>
        <td>
            <a href="/About/Create">
                Create
            </a>
        </td>
    </tr>

</table>

<!-- Gallery Actions -->
<table style="float: left; margin-left: 20px;">
    <tr>
        <td>
            Gallery
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Gallery/Create">
                Upload
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Gallery/List">
                Delete
            </a>
        </td>
    </tr>
</table>
