<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IT_F18</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
</head>
<body>
    <div class="container">
        <header>
            <p>Header</p>
        </header>

        <nav>
            <a class="nav-bar" asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a class="nav-bar" asp-area="" asp-controller="Home" asp-action="Gallery">Gallery</a>
            <a class="nav-bar" asp-area="" asp-controller="Home" asp-action="Newsletter">Newsletter</a>
            <a class="nav-bar" asp-area="" asp-controller="Home" asp-action="Admin">Admin</a>
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <p>Footer</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
