<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IT_F18</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/lightbox.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/lightbox.min.js"></script>
    </environment>
</head>
<body>
    <div class="container">
        <header>
            <ul class="navigation">
                <li><a class="navLink" asp-area="" asp-controller="About" asp-action="Index" style="text-decoration:none; color:inherit;">About</a></li>
                <li><a class="navLink" asp-area="" asp-controller="Gallery" asp-action="Index" style="text-decoration:none; color:inherit;">Gallery</a></li>
                <li><a class="navLink" asp-area="" asp-controller="Newsletter" asp-action="Create" style="text-decoration:none; color:inherit;">Newsletter</a></li>
                <li><a class="navLink" asp-area="" asp-controller="Admin" asp-action="Index" style="text-decoration:none; color:inherit;">Admin</a></li>
            </ul>
        </header>
        
        <main>
            @RenderBody()
        </main>

        <footer>
            <p style="font-size: 14px;">This website is made as a mandatory assignment for the Internet Technology class at sdu.</p>
            <p style="font-size: 18px;">By: Mikkel Bjerg and Jonas Pedersen</p>
            <img style="max-width: 120px" src="~/images/SDU_logo.png" alt="Sdu logo">
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
