html, body {
    padding: 0;
    margin: 0;
}

.container {
    font-family: arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }
}

@media (max-width: 768px) {
    .nav-bar {
        float: left;
        margin-right: 10px;
    }
}

header {
    grid-column: span 4;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #369;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
}

nav {
    background-color: #f90;
    padding: 20px;
}

footer {
    grid-column: span 4;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #690;
    color: white;
}

.nav-bar {
    cursor: pointer;

    width: 150px;
    height: 25px;
    border-radius: 5px;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
    background-color: black;

    margin-bottom: 5px;
    padding-left: 10px;
}

.nav-bar:hover {
    color: #000;
    background-color: white;
}