html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }
}

@media (max-width: 768px) {
    .nav-bar {
        float: left;
        margin-right: 10px;
    }
}

header {
    grid-column: span 4;
    text-align: center;
    font-size: 1.4em;
    background-color: #e9e5e5;
    color: rgb(46, 44, 44);
    margin-bottom: 20px;
}

main {
    grid-column: span 4;
    flex: 1;
    padding: 20px;
    background-color: #5486af;
}


.navigation {
    display: flex;
    flex-flow: row;
    list-style: none;
    align-items: baseline;
    font-size: 22px;
}

.navigation li{
    margin:6px 0;
}

.navigation li:hover{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}


.navLink {
    margin: 0px 20px;
}

nav {
    background: white;
    padding: 20px;
}

footer {
    grid-column: span 4;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #f8f9fa;
    color: #000;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.nav-bar {
    cursor: pointer;

    width: 150px;
    height: 25px;
    border-radius: 5px;
    line-height: 24px;
    font-size: 18px;

    margin-bottom: 5px;
    padding-left: 10px;
}

.nav-bar:hover {
    color: #000;
    background-color: white;
}

.title {
    text-align: center;
}

.thumbnail {
    border: 1px solid #fff;
    border-radius: 5px;
    max-width: 100px;
}

.nav-link-recolor {
    color: #000; !important
}